<h1>CHECK OUT MY BLOG!</h1>

<div class='blog-container'>

	<% @posts.each do |blog| %>
	<div class="blog">
		<a href="/blog/<%=blog["id"]%>"><h2>SUBJECT: <%=blog["subject"]%></h2></a>
		</br>
		
		<span class="contents"><%=blog["contents"]%></span>
		</br>
		<span class="created_at">CREATED AT: <%=blog["created_at"]%></span>
		</br>
		</br>
	</div>

	<form action="/blog/<%= blog["id"] %>/delete" method="post">
		<input type="submit" name="delete post" value="delete" />
	</form>

	<%end%>
</div>